/* Custom CSS */
body{
  background: #F2994A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
} 
/* .groupBadgeStyles{
  background-color: #EBECF0;
  border-radius: 2rem ;
  color: #172B4D;
  display: inline-block;
  font-size: 12;
  line-height: 1;
  text-align: center;
}
.groupStyles{
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
Select{
  color: #000000;
}
.subs-row{
  padding: 10px 0px;
  text-align: center;
}
.subs{
  padding: 10px;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 5px;
  margin: 10px;
  background-color: aqua;
}
.header{
  width: 100%;
  background-color: #F2994A;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.header .logo{
  padding: 20px 50px;
}
.form-area{
  padding: 50px;
}
.form-area h4{
  font-weight: 700;
  font-size: 28px;
  margin-right: 450px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.core-area{
  border-radius: 10px;
  border: rgba(0, 0, 0, 0.3) solid 2px;
  background-color: #fff;
  padding: 15px 10px;
  margin: 20px;
}
.selected-area{
  border-radius: 10px;
  border: rgba(0, 0, 0, 0.3) solid 2px;
  background-color: #fff;
  padding: 15px 30px;
  height: 300px;
}
.subjects{
  list-style: none;
}

.select-custom{
  margin-right: 1050px;
}
