/* Custom CSS */
body{
  background: #EAE8FF;  /* fallback for old browsers */
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0;
} 
.header{
  width: 100%;
  background-color: #2d3142;
  border-radius: 0px 0px 0px 0px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.header .logo{
  padding: 10px 10px;
}
.sidebar{
  height: 100%;
  padding: 30px;
  background-color: #f4f3fc;
}
.title{
  margin-top: 50px;
}
.majorDropdown{
  font-size: 24px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}
.majorDropdown:focus{
  outline: none;
}
.core-list{
  list-style: none;
  padding-left: 0%;
  display: inline-block;
}
.core-item{
  color: #fff;
  background-color: #1f0664;
  border-radius: 10px;
  display: inline-block;
  padding: 10px 10px 10px 10px;
  margin: 5px 5px 5px 0px;
}