/* Custom CSS */
.App{
  width:100vw;
  height: 100vh;
  position: relative;
}

body{
  background: #EAE8FF;  /* fallback for old browsers */
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0;
} 


.header{
  width: 100%;
  background-color: #2d3142;
  border-radius: 0px 0px 0px 0px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.header .logo{
  padding: 10px 10px;
}

.form-area{
  padding: 50px;
}

.Sidebar{
  height: 100%;
  background-color: #ADACB5;
  width: 350px;
}

.Maingrid{
  height: 100%;
  width:800px;
  background-color: #d8d5db;
  position: absolute;
  top:86px;
  right:300px;
}

Select{
  color: #000000;
}
.subs-row{
  padding: 10px 0px;
  text-align: center;
}
.subs{
  
  text-align: center;
  border: 1px solid #000000;
  border-radius: 5px;
  margin: 10px;
  background-color: #2d3142;
  font-size: 25px;
  font-family:  Helvetica;
  color: #fff;
}
.form-area{
  padding: 50px;
}
.form-area h4{
  font-weight: 700;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;  
}
.core-area h2{
  font-weight: 700;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  margin-left: 50px;
}
.selected-area{
  border-radius: 10px;
  border: rgba(0, 0, 0, 0.3) solid 2px;
  background-color: #fff;
  padding: 15px 30px;
  height: 300px;
}
.subjects{
  list-style: none;
}

.select-custom{
  margin-right: 10px;
}
